<h1>Fluid StandloneView demonstration</h1>

<p>Demonstrates how to a Fluid StandaloneView renders translations in the TYPO3 backend context.</p>
<p>The following code is used in the StandaloneView.html fluid template:</p>

&#123;namespace s=Derhansen\Standaloneview\ViewHelpers&#125;<br>

&lt;strong&gt;&lt;s:translate key="title" /&gt;&lt;/strong&gt;<br>
&lt;p&gt;&lt;s:translate key="description" /&gt;&lt;/p&gt;

<p>Choose a language from the select field and press the "render" button</p>

<f:form name="formdata" object="{formdata}" action="index">
	<f:form.select name="language" options="{languages}" property="language" />
	<f:form.submit value="Render" />
</f:form>

<f:form name="formdata" action="multiple">
	<f:form.submit value="Render multiple standaloneViews in one request" />
</f:form>

<h2>Result:</h2>
<f:format.html>{result}</f:format.html>