<h1>Fluid StandloneView demonstration</h1>

<p>Demonstrates how a Fluid Standalone View renders translations in TYPO3 backend context.</p>

<p>Choose a language from the select field and press the "render" button</p>

<f:form name="formdata" object="{formdata}" action="index">
	<f:form.select name="language" options="{languages}" property="language" />
	<f:form.submit value="Render" />
</f:form>

<f:form name="formdata" action="multiple">
	<f:form.submit value="Render multiple standaloneViews in one request" />
</f:form>

<h2>Result:</h2>
<f:format.html>{result}</f:format.html>